.ourProducts{
    padding: 0 150px;
}

.ourProducts-navbar .top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ourProducts-navbar .top div{
    width: 15px;
    height: 30px;
    background: red;
    border-radius: 5px;
}

.ourProducts-navbar .title{
    display: flex;
    justify-content: space-between;
}

.ourProducts-navbar .title h1{
    font-family: sans-serif;
    font-size: 30px;
}

.ourProducts-navbar .title .icons{
    display: flex;
    gap: 10px;
}

.ourProducts-navbar .title .icons .left,
.ourProducts-navbar .title .icons .right{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9999991e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ourProducts .container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.ourProducts-container .img{
    position: relative;
    background: #99999946;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ourProducts-container .img .like,
.ourProducts-container .img .eye{
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ourProducts-container .img .like{
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
}

.ourProducts-container .img .eye{
    position: absolute;
    top: 60px;
    right: 17px;
    cursor: pointer;
}

.ourProducts-container .img .new{
    position: absolute;
    background: rgb(88, 204, 88);
    color: #fff;
    top: 12px;
    left: 12px;
    padding: 5px 10px;
    border-radius: 4px;
}


.ourProducts-container .img button{
    transform: translateY(60px);
    background: #000;
    color: #fff;
    width: 100%;
    position: absolute;
    height: 30px;
    bottom: 0;
    transition: all .8s;
    cursor: pointer;
}

.ourProducts-container .img:hover button{
    transform: translateY(0);
}

.ourProducts-container .info{
    position: relative;
    z-index: 1;
    background: #fff;
}

.ourProducts-container .info h1{
    font-size: 18px;
    margin-top: 10px;
}

.ourProducts-container .info .cost-stars{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.ourProducts-container .info .cost-stars p{
    color: #DB4444;
}

.ourProducts-container .info .cost-stars span{
    color: #444;
}

.ourProducts-container .info .colors{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
}

.ourProducts-container .info .colors .color1{
    border: 2px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5px;
    position: relative;
}

.ourProducts-container .info .colors .color1 .color{
    background: #DB4444;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ourProducts-container .info .colors .color2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.ourProducts-container .info .colors .color2 .color{
    background: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

