.checkout{
    display: flex;
    font-display: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
}
.next h2{
    margin-top: 20px;
}

.details{   
    color: black;
    text-decoration: none;
    height: 120vh;
}
.details input{
    margin-top: 10px;
}
.details h1{
    font-size: 2rem;
    margin-top: 90px;
}
.checkout_form{
    display: grid;
    grid-template-columns: 1fr;
}
hr{
    width: 29rem;
    margin-top: 23px;
}
.checkout_form input{
width: 470px;
height: 40px;
background: #f6f4f4dd;
border: none;
outline: none;
}
.checkout_form span{
    margin-top: 20px;
}
.lcd{
    display: flex;
}
.lcd h3{
padding: 2px 14rem;    
}
.gamepad{
 display: flex;
 margin-top: 30px;
}
.gamepad h3{
    padding: 2px 14rem;
}
.next div{ 
    display: flex;
    justify-content: space-between;
}
.next h3{
    padding-right: 14rem;
}
label{
    display: flex;
    align-items: center;
    position: relative;
}
/* label::after {
    content: '';
    width: 10px;
    height: 10px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
} */
label img{
    height: 8vh; 
    padding-left:10.5rem;
}
.a{
    display: flex;
    gap: 10px;
}
.a a{
    text-decoration: none;
    color: #000;
}
.btn1{
    width: 98px;
    height: 34px;
    background: #DB4444;
    color: white;
    margin-left:12px;
}
.btn2{
    width: 98px;
    height: 34px;
    background: #DB4444;
    color: white;
    margin-top: 12px;
}
.code{
    height: 34px;
}
.lcd img{
margin-right: 30px;
}
.gamepad img{
    margin-right: 30px;
}
.span{
    margin-top: 10px;
    margin-left: 12px;
}
@media (max-width:1220px){
    .media{
        padding-left: 12rem;
    }

}
