@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

.flashSales {
    width: 100%;
    padding: 130px;
    font-family: 'Poppins', sans-serif;
}

.flashSales-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.red-box {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.flashSales-text {
    font-size: 16px;
    color: #DB4444;
    font-weight: bold;
}

.flashSales-header {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flashSales-header h1 {
    flex: 2;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4px;
    font-weight: 500;
}

.time-content {
    flex: 5;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.time-content .time {
    display: flex;
    flex-direction: column;
}

.time .number {
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

.time .number span {
    color: #DB4444;
}

.time .text {
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
}

.flashSales-header-icons {
    display: flex;
    column-gap: 15px;
}

.flashSales-header-icons .fa-solid:hover {
    color: #DB4444;
}

.flashSales-header-icons .fa-solid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flashSales-products {
    padding-top: 40px;
    display: flex;
    column-gap: 30px;
}

.flashSales-products .flashSales-product {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flashSales-products .flashSales-product-overlay {
    position: relative;
    overflow: hidden;
}

.flashSales-products .flashSales-product-img {
    cursor: pointer;
    height: 270px;
    overflow: hidden;
    border-radius: 5px;
}

.flashSales-products .flashSales-product img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    background: #eee;
    padding: 40px;
}

.flashSales-products .flashSales-product-overlay:hover img {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.flashSales-products .flashSales-product .flashSales-product-text {
    text-align: center;
    background: #000;
    padding: 10px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: .2s linear;
}

.flashSales-products .flashSales-product-overlay:hover .flashSales-product-text {
    bottom: 0;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.flashSales-products .flashSales-product .flashSales-product-text a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}

.flashSales-products .flashSales-product .flashSales-icons h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: #DB4444;
    padding: 5px 10px;
    border-radius: 4px;
}

.flashSales-products .flashSales-product .flashSales-icons .fa-heart {
    position: absolute;
    top: 13px;
    right: 13px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.flashSales-products .flashSales-product .flashSales-icons .fa-heart:hover {
    color: #fff;
    background-color: #DB4444;
}

.flashSales-products .flashSales-product .flashSales-icons .fa-eye {
    position: absolute;
    top: 50px;
    right: 13px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.flashSales-products .flashSales-product .flashSales-icons .fa-eye:hover {
    color: #fff;
    background-color: #DB4444;
}

.flashSales-products .flashSales-product .price h3 {
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.flashSales-products .flashSales-product .price .newPrice {
    font-size: 16px;
    font-weight: 500;
    color: #DB4444;
}

.flashSales-products .flashSales-product .price .oldPrice {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    color: #676767;
}

.flashSales-products .flashSales-product .ratting {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #FFAD33;
}

.flashSales-products .flashSales-product .ratting .ratting-numbers {
    color: #676767;
    font-size: 14px;
}

.flashSales-button {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flashSales .flashSales-button a {
    padding: 15px 25px;
    border-radius: 3px;
    text-decoration: none;
    background: #DB4444;
    color: #fff;
    
}

.flashSales .flashSales-button a:hover {
    box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}