

.statistics {
    display: flex;
    padding: 50px 8%;
    gap: 20px;
    text-align: center;
}

.statistics-card {
    width: 50%;
    height: 230px;
    border:  2px solid #867b7b;
    border-radius: 5px;
    transition: all 0.3s;
}


.statistics-img {
    margin-top: 30px;
}

.statistics-text,
.statistics-hover {
    margin-top: 20px;
}

.statistics-text h1 {
    font-size: 35px;
}

.statistics-text p {
    margin-top: 10px;
    font-size: 18px;

}

.statistics-hover-card {
    background: #DB4444;
    width: 50%;
    height: 230px;
    border-radius: 5px;
}


.statistics-hover h1 {
    font-size: 35px;
    color: #FFFFFF;
}

.statistics-hover p {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 18px;

}