
.teammates {
    display: flex;
    padding: 70px 8%;
    gap: 80px;
}

.teammates-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.teammates-card > .teammates-text h1  {
    font-size: 30px;
}

.teammates-card > .teammates-text p  {
    font-size: 18px;
    margin-top: 5px;
}

.teammates-card > .teammates-text  > .teammates-icon  {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.teammates-card > .teammates-text  > .teammates-icon a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.teammates-card > .teammates-text  > .teammates-icon a:hover {
    color: #DB4444;
}

.teammates-card > .teammates-text  > .teammates-icon a:active {
    color: #000;
}